*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
html, body {
  background-color: #ECECEC; /* Light grey premium shade */
  min-height: 100vh; /* Ensures it covers the full viewport height */
}

.header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  background-color:coral;
  border:1px solid black;
}
.logo{
  width:50px;
}
.nav-items > ul{
  display:flex;
}
.nav-items > ul > li{
  list-style:none;
  margin:10px;
}
.resto-container{
  display:flex;
  flex-wrap:wrap;
}
.resto-card{
  max-width:280px;
  max-height:450px;
  border: 1px solid #ccc;
  margin:5px 10px;
  padding:10px;
  background-color: #d8e7dd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}
.resto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor:pointer;
}
.resto-img{
  height:200px;
  width:100%;
  object-fit:cover;
}
.resto-name{
  color: #E63946;
}
.cuisine-name{
  color: #333; 
  margin: 5px 0; 
}

.star-rating{
  color: #333; 
  margin: 5px 0; 
}
.delivery-time{
  color: #333; 
  margin: 5px 0; 
}
.search-bar{
  padding:20px;
  margin:20px 40px;
}